.mode{
    cursor: pointer;
}
.homePage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 10px;
}
.left{
    width: 50%;
    height: 100%;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
}
.right{
    width: 50%;
    height: 100%;
    border: 2px solid rgb(14, 12, 12);
    border-radius: 10px;
}
.line{
    width: 90%;
    margin: auto;
    height: 0.2px;
    opacity: 0.4;
}
.middletop{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}
.runCode{
    cursor: pointer;
}


@media (max-width: 899px){
    .homePage{
        flex-direction: column;
        height: 200vh;
    }
    .right{
        width: 100%;
        height: 50%;
    }
    .left{
        width: 100%;
        height: 50%;
    }
}